---
http_interactions:
- request:
    method: get
    uri: http://api.sba.gov/license_permit/all_by_state/FL.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"county_sites":[],"local_sites":[],"state_sites":[{"link_title":"Get
        Unemployment Tax Requirements","description":null,"url":"http:\/\/dor.myflorida.com\/dor\/taxes\/unemploy_comp_law.html","category":"Employer
        Requirements","county":null,"state":"FL","business_type":"Insurance Requirements","section":"Unemployment
        Insurance Tax","resource_group_description":"Businesses with employees are
        required to pay unemployment insurance taxes under certain conditions. If
        your business is required to pay these taxes, you must register your business
        with your state''s workforce agency:"},{"link_title":"Find Workers'' Comp
        Requirements","description":null,"url":"http:\/\/www.myfloridacfo.com\/wc\/faq\/faqemplyrs.html","category":"Employer
        Requirements","county":null,"state":"FL","business_type":"Insurance Requirements","se[...]
