div#intro {
  background-color: #42C0FB;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}

#logo {
  text-align: center;
}

#biz {
  font-weight: bold;
  color: white;
  font-size: 200px;
  font-family: 'Lato', sans-serif;
}

#startr {
  font-weight: lighter;
  font-size: 200px;
  color: white;
  font-family: 'Lato', sans-serif;
}